.title {
    background-color: rgb(0, 254, 34);
    margin: -2% 20% auto 20%;
    font-size: 300%;
    text-align: center;
}

.content {
    margin: auto 20% 0% 20%;
}

.game {
    margin: -3% auto auto auto;
}

#currentImage {
    width: 100%;
    height: auto;
    margin: auto auto 0 auto;
}

.taskbar {
    background-color: rgb(56, 34, 4);
    width: 100%;
    margin: -2% auto auto auto;
}